# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Streamlit logs
logs/

# Allow tracking of config.toml
!.streamlit/config.toml

# Ignore everything else in .streamlit
.streamlit/*

# Jupyter
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
